html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #bae1fe;
}

.main-container pre{
    width: 100%;
    word-break: break-all;
}

.request-list-item:hover {
    background-color: rgba(158,158,158,0.2);
}

.request-list-item-content {
    width: 100%;
}

.request-list-item *:focus {
    outline: none;
}

.request-item-buttons {
    min-height: fit-content;
    line-height: inherit;
    font-size: 12px;
}

.request-details {
    cursor: pointer;
}

md-tabs {
    padding-bottom: 20px;
}