<md-list-item class="md-1-line request-list-item">
    <div class="md-list-item-text request-list-item-content" layout="column">

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <h3>{{vm.item.details.request.url}}</h3>
            <span flex></span>
            <md-button class="md-raised md-primary request-item-buttons" aria-label="Open Details" ng-click="vm.toggleDetails()">
                {{vm.toggleDetailsButtonText}}
            </md-button>
            <md-button class="md-raised md-primary request-item-buttons" aria-label="Remove Request" ng-click="vm.removeRequest()">
                Remove Request
            </md-button>
        </section>

        <div ng-show="vm.item.showDetails">

            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Request Details">
                    <md-content class="md-padding">
                        <div>
                            <pre>{{vm.getPrettifiedJSON(vm.item.details.request)}}</pre>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Response Details">
                    <md-content class="md-padding">
                        <div>
                            <pre>{{vm.getPrettifiedJSON(vm.item.details.response)}}</pre>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>

        </div>
    </div>
    <md-divider></md-divider>
</md-list-item>